html {
  scroll-behavior: smooth;
}

.section {
  padding: 94px 0px;
  text-align: center;
}
.section-dark {
  background-color: #F6F9FC;
  box-shadow: 0 10px 30px rgba(0,0,0, 0.1)
}

.section-light {
  box-shadow: 0 10px 30px rgba(0,0,0,0.1)
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about-me {
  h1:before, h1:after{
    content: '';
    width: 75px;
    height: 2px;
    background: #225277;
    margin: 0 10px;
  }
}

.about-text-left {
  width: 50%;
  padding: 0 10px;
}


